@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	/* display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	width: 90%;
	margin: 90px auto; */
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 25px;
	width: 90%;
	margin: 90px auto;
	font-family: 'Open Sans', sans-serif;
	align-items: baseline;
}


.card {
	display: inline-block;
	padding-right: 20px;
	border-radius: 15px;
}

figure {
	display: inline-block;
}

@media (min-width: 992px) {
	main {
		grid-template-columns: repeat(3, 1fr);
		font-size: 0.8rem;
	}
}