#database_connect {
  padding-left: 33px !important;
}

#database_connect::before {
  content: "17\A 18\A 19\A 20\A 21\A 22";
  position: absolute;
  height: auto;
  top: 18px;
  line-height: 21px;
  left: 6px;
  color: #ccc;
}

#modelo-cliente_req1 {
  padding-left: 33px !important;
}
#modelo-cliente_req1::before {
  content: "1\A 2\A 3\A 4\A 5";
    position: absolute;
    height: auto;
    top: 18px;
    line-height: 21px;
    left: 6px;
    color: #ccc;
}

#controller_client_create {
  padding-left: 33px !important;
}
#controller_client_create::before {
  content: "28\A";
  position: absolute;
  height: auto;
  top: 18px;
  line-height: 21px;
  left: 6px;
  color: #ccc;
}

#controller_client_update {
  padding-left: 33px !important;
}

#controller_client_update::before {
  content: "41\A";
  position: absolute;
  height: auto;
  top: 18px;
  line-height: 21px;
  left: 6px;
  color: #ccc;
}
#controller_movie_create {
  padding-left: 33px !important;
}

#controller_movie_create::before {
  content: "29\A";
  position: absolute;
  height: auto;
  top: 18px;
  line-height: 21px;
  left: 6px;
  color: #ccc;
}

#controller_movie_update {
  padding-left: 33px !important;
}
#controller_movie_update::before {
  content: "42\A";
  position: absolute;
  height: auto;
  top: 18px;
  line-height: 21px;
  left: 6px;
  color: #ccc;
}