@import "../../../../../assets/css/docs.css";

button.download {
  display: inline-block;
  border: none;
  padding: 7px 12px;
  color: rgb(233, 46, 102);
  z-index: 3;
  background: transparent;
  position: relative;
  margin:0;
  font-size: 18px;
  justify-self: start;
  cursor: pointer;
}

button.download:hover {
  background: #efe3e3;
}

button.download:disabled {
  color: #383939;
}
fieldset.first {
  margin: 10px 0;
}
.path {
  color: #fc0;
  background-color: #383939;
  border-radius: 3px;
  padding: 2px 3px;
}
a.link {
  position: relative;
  display: inline;
  background: transparent;
  padding: 0;
  color:#239;
  left: 0;
  top:0;
}


.yml_db {
  padding-left: 33px !important;
}
.yml_db::before {
  content: "17\A 18\A 19\A 20\A 21\A 22";
  position: absolute;
  top: 18px;
  line-height: 21px;
  left: 6px;
  color: #ccc;
}