* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #292929;
}
.doc-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: sans-serif;
    width: 85%;
    margin: 90px auto;
    padding: 45px;
    box-shadow: 2px 3px 9px #00000040;
    background-color: rgb(255, 255, 255);
}

h2,
h3 {
    margin: 15px 0;
}

p {
    margin: 15px 0;
}

iframe {
    border-radius: 10px;
}

figure {
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

figure img {
    width: 70%;
}

fieldset {
    margin: 15px 0;
    padding: 10px;
    display: block;
    min-width: 0;
}

legend {
    font-size: 30px;
    padding: 0 20px;
}


h4 {
    font-weight: normal;
    font-size: 1.4rem;
}

a {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -45px;
    left: 50%;
    background-color: black;
    color: antiquewhite;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
}

pre {
    font-size: 17px;
    font-family: Consolas;
    white-space: pre;
}

.hljs {
    display: inline-block;
    overflow-x: scroll;
    padding: 0.5em;
    padding-right: 100%;
    -webkit-text-size-adjust: none;
    position: relative;
}
.highlight {
    position: relative;
    width: 100%;
}


ul,
ol {
    padding-left: 20px;
}

blockquote {
    background-color: rgb(245, 236, 236);
    padding: 10px;
}

code.inline {
    font-size: 17px;
}

/* UTILITIES */

.req {
    background-color: #ef2323;
    color: rgb(246, 253, 255);
    padding: 10px;
}

.group {
    position: relative;
    margin: 30px 0;
    width: 100%;
    text-align: center;
}

.btn {
    display: inline-block;
    border: none;
    color: rgb(233, 46, 102);
    z-index: 3;
    position: relative;
    font-size: 18px;
    transform: translate(0);
    left: 0;
    top: 0;
}