<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio evaluado: M6 - 1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/vs2015.min.css">
  <link rel="stylesheet" href="assets/style.css">


</head>

<body>
  <div class="doc-body">
    <enidev-button data-btn="top"></enidev-button>
    <h1 align="center">Desafío evaluado: M6 1. BlockBuster</h1><br>
    <h4 align="center"><small>Marco Contreras</small></h4>
    <div class="btn_req">
      <a href="#req-2">Requerimiento 2</a>
      <a href="#req-3">Requerimiento 3</a>
      <a href="#req-4">Requerimiento 4</a>
      <a href="#req-5">Requerimiento 5</a>
    </div>
    <h2 id="#req-1">Requerimiento 1</h2>
    <p class="req">Set-up inicial del proyecto, el proyecto viene con algunos errores que deben ser corregidos (recuerda el uso de Faker)</p>
    <small style="display: block; text-align: center">el uso de Faker lo dejaré para el final 😆</small><br>
 
  <button id="download_btn" class="download" onclick="{this.textContent='Descargando...'; download_file('../../../../assets/zip/apoyo_desafio_blockbuster.zip')}">Material de apoyo</button>
   <p>Tenemos que fijarnos en la versión que se creo el proyecto el material de apoyo:</p>
  <fieldset class="first">
    <legend align="center"><strong>Levantar el servidor</strong></legend>
    <div class="highlight">
      <pre><code class="bash hljs">rails server</code></pre>
      <enidev-button></enidev-button>
    </div>
  </fieldset>
<blockquote>Podemos observar en la terminal que si tenemos la versión que indica se ejecutará el servidor pero nos pedira instalar las dependencias, de lo contrario nos mostrará un mensaje. <strong>Ejemplo:</strong>
  <br><br>
  <div class="highlight">
    <pre><code class="bash hljs">Your Ruby version is 3.0.3, but your Gemfile specified 3.1.1</code></pre>
  </div>
</blockquote>
<p>Si ese es el caso, debemos cambiar a la versión de Ruby que tenemos en el sistema y luego ejecutamos el comando para instalar las dependencias:</p>
  <figure>
    <img src="assets/gemfile.png" alt="gemfile">
    <figcaption>captura de pantalla: gemfile</figcaption>
  </figure>
  <fieldset class="first">
    <legend align="center"><strong>Instalar dependencias</strong></legend>
    <div class="highlight">
      <pre><code class="bash hljs">bundle install</code></pre>
      <enidev-button></enidev-button>
    </div>
  </fieldset>
  <blockquote>Esto puede tardar varios segundos o minutos</blockquote>
  <p>Bueno ahora repetimos el primer paso, para lanzar el servidor usando el comando: <code style="font-size:17px"><mark>rails server</mark></code> <br>y entramos a  <a href="http://localhost:3000" target="_blank" class="link">http://localhost:3000</a></p>

  <figure>
    <img src="./assets/01.png" alt="lanzando el servidor">
    <figcaption>captura de pantalla: lanzando el servidor</figcaption>
  </figure>
<p>El mensaje es claro, no se pudo establecer conexión con el servidor de Postgres, para solucionarlo debemos agregar nuestros datos de conexión en <span class="path">config/database.yml</span>:</p>
  <fieldset class="first">
    <legend align="center"><strong>Agregar datos de conexión</strong></legend>
    <div class="highlight">
<pre>
<code class="yml hljs" id="database_connect">default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres # 👈 tu usuario para postgres
  password: postgres # 👈 tu password para postgres
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %></code></pre>
      <enidev-button></enidev-button>
    </div>
  </fieldset>
  <p>Para comprobar que está correcta nuestra conexión con Postgres, ejecutamos el comando para crear la base de datos:</p>
  <fieldset class="first">
    <legend align="center"><strong>Crear la base de datos</strong></legend>
    <div class="highlight">
      <pre><code class="bash hljs">rails db:create</code></pre>
      <enidev-button></enidev-button>
    </div>
    </fieldset>
<p>
  Volvemos a lanzar el servidor, y veremos otro error pero se trata de que aún no se han creado las tablas y existen archivos de migración pendientes por ejecutar. Simplemente presionamos el botón que nos ofrece para correr las migraciones:
</p>
<figure>
  <img src="assets/03.png" alt="migraciones">
  <figcaption>captura de pantalla: correr las migraciones</figcaption>
</figure>
<p>Ya estaría mostrando el proyecto de forma normal y con esto se corrigieron los errores que se mencionaban al comienzo</p>
<figure>
  <img src="assets/04.png" alt="interfaz del proyecto">
  <figcaption>captura de pantalla: proyecto funcionando</figcaption>
</figure>
<p>Un problema relacionado con el funcionamiento de la aplicación es cuando intentamos eliminar un cliente existente y se
le asigna una película existente, dando como resultado el siguiente error:</p>
<figure>
  <img src="assets/error_al_eliminar.png" alt="error al eliminar cliente">
  <figcaption>captura de pantalla: error al eliminar</figcaption>
</figure>
<p>Es bastante descriptivo el mensaje de error, ya que tenemos una relación entre ambas entidades, debemos indicarle que acciones vamos a tomar cuando se elimine un objeto que referencia a otras instancias del modelo asociado, podemos establecer algunas de las siguientes acciones en <span class="path">app/models/client.rb</span>: </p>
<fieldset class="first">
  <legend align="center">Modelo - Cliente<strong>
      </strong></legend>
    <div class="highlight">
      <pre><code class="ruby hlj" id="modelo-cliente_req1">class Client &lt; ApplicationRecord
  has_many :movies,
  # dependent: :destroy # 👈 elimina todas las instancias asociadas al objeto
  dependent: :nullify # 👈 establecerá el valor de NULL a las instancias asociadas al objeto
end
</code></pre>
<enidev-button></enidev-button>
    </div>
</fieldset>
<blockquote>Como se observa en el ejemplo anterior, se ha dejado configurado <code><mark>:nullify</mark></code> por que no necesitamos eliminar las películas que estén asociadan a los clientes, ya que quedarán disponible para ser arrendadas por otro cliente.</blockquote>
<hr>
<h2 id="req-2">Requerimiento 2</h2>
<p class="req">Al editar una película se le puede asignar un cliente</p>
<p>Primero que nada, debemos crear un cliente:</p>
<figure>
  <img src="assets/crear-cliente.png" alt="crear cliente">
  <figcaption>captura de pantalla: creando un cliente</figcaption>
</figure>
<p>Segundo, nos cambiamos a la vista de Películas (<em>movies</em>) y presionamos en crear una película:</p>
<figure>
  <img src="assets/crear-pelicula.png" alt="crear pelicula" style="box-shadow: 3px 4px 12px #00000018;">
  <figcaption>captura de pantalla: creando una película</figcaption>
</figure>
<p>Si nos fijamos al momento de haber creado la película ya la estamos asignando a un cliente. Una vez creado nos enviará a la vista del detalle donde podemos encontrar el link para editar la misma:</p>
<figure>
  <img src="assets/editar-pelicula-1.png" alt="editar pelicula" style="box-shadow: 3px 4px 12px #00000018;">
  <figcaption>captura de pantalla: link para editar una película</figcaption>
</figure>
<p>Previamente creamos otro usuario para que nos muestre la lista con más de un usuario al momento de editar la película:</p>
<figure>
  <img src="assets/editar-pelicula-2.png" alt="editar pelicula" style="box-shadow: 3px 4px 12px #00000018;">
  <figcaption>captura de pantalla: asignar un usuario a una película</figcaption>
</figure>
<h2 id="req-3">Requerimiento 3</h2>
<p class="req">El index de clientes debe mostrar si un cliente tiene una pelicula arrendada</p>
<p>Para eso nos dirigimos a la vista <span class="path">app/views/clients/_client.html.erb</span> y remplazamos el contenido por lo siguiente:</p>
<fieldset class="first">
  <legend align="center"><strong>
    partial - _client.html.erb
  </strong></legend>
  <div class="highlight">
    <pre>
<code class="html hljs">&lt;div id="<%= dom_id client %>"&gt;
  &lt;tr&gt;
    &lt;th scope="row"&gt;
      <%= client.id %>
    &lt;/th&gt;
    &lt;td&gt;
      <%= client.name %>
    &lt;/td&gt;
    &lt;td&gt;
      <%= client.age %>
    &lt;/td&gt;
    &lt;td&gt;
    <% if client.movies.present? %>
      <%= select_tag 'movies' , options_for_select(client.movies), class: 'form-select' %>
    <% else %>
      No tiene película arrendada
    <% end %>
    &lt;/td&gt;
    &lt;td align="center"&gt;
      <%= link_to "Ver cliente" , client, class: 'btn btn-info' %>
    &lt;/td&gt;
    &lt;td align="center"&gt;
      <%= link_to edit_client_path(client) do %>
        &lt;i class="fa fa-pen bg-warning rounded p-2 text-dark"&gt;&lt;/i&gt;
      <% end %>
    &lt;/td&gt;
    &lt;td align="center"&gt;
      <%= button_to client, method: :delete, data: { turbo_confirm: "¿Seguro de eliminar al cliente #{client.name}?" }, class: 'border-0 bg-body' do %>
        &lt;i class="fa fa-times bg-danger rounded p-2 text-light"&gt;&lt;/i&gt;
      <% end %>
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
  </div>
</fieldset>
<p>Como tenemos iconos de <a href="https://fontawesome.com/" class="link" target="_blank">Font Awesome</a> tenemos que añadir la <abbr title="content delivery network">CDN</abbr> en <span class="path">app/views/layouts/application.html.erb</span>:</p>
<fieldset class="first">
  <legend align="center">
    <strong>Layout principal</strong>
  </legend>
  <div class="highlight">
    <pre><code class="html hljs app">&lt;script src="https://kit.fontawesome.com/6b8f0c7049.js" crossorigin="anonymous"&gt;&lt;/script&gt;</code></pre>
    <enidev-button></enidev-button>
  </div>
</fieldset>
<hr>
<h2 id="req-4">Requerimiento 4</h2>
<p class="req">Modificar el diseño de la aplicación, no puede ser igual al entregado en el proyecto</p>
<p>En el requerimiento anterior ya habíamos modificado la vista de película un poco, asi que ahora continuamos pero agregando lo siguiente en <span class="path">app/views/clients/index.html.erb</span>:</p>
<fieldset class="first">
  <legend align="center">
    <strong>Index - Clientes</strong>
  </legend>
    <div class="highlight">
      <pre><code class="erb hljs">&lt;p style="color: green"&gt;
  <%= notice %>
&lt;/p&gt;
&lt;div class="container"&gt;
  &lt;h1 align="center" class=""&gt;Clientes&lt;/h1&gt;
  <%= link_to new_client_path, class:"text-decoration-none" do %>
    &lt;i class="fa fa-plus-circle fs-4"&gt;&lt;/i&gt;
    &lt;span&gt;Cliente&lt;/span&gt;
    <% end %>
    &lt;div id="clients"&gt;
      &lt;table class="table table-bordered">
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th scope="col"&gt;#&lt;/th&gt;
            &lt;th scope="col"&gt;Nombre&lt;/th&gt;
            &lt;th scope="col"&gt;Edad&lt;/th&gt;
            &lt;th scope="col"&gt;Película&lt;/th&gt;
            &lt;th scope="col" colspan="3"&gt;&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          <%= render @clients %>
        &lt;/tbody&gt;
      &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
    </div>
</fieldset>
<figure>
  <img src="assets/vista-clientes2.png" alt="vista clientes2" style="box-shadow: 3px 4px 12px #00000018;"/>
  <figcaption>captura de pantalla: vista clientes, estilos modificados demarcados en rojo</figcaption>
</figure>
<p>Ahora vamos a modificar la vista en <span class="path">app/views/clients/new.html.erb</span> y remplazamos el contenido por el siguiente:</p>
<fieldset class="first">
  <legend align="center">
    <strong>New - Clientes</strong>
  </legend>
    <div class="highlight">
      <pre><code class="html hljs">&lt;h2 align="center"&gt;Cliente nuevo&lt;/h2&gt;
&lt;%= render "form", client: @client %&gt;
&lt;br&gt;
&lt;div align="center"&gt;
  &lt;%= link_to "Volver a clientes", clients_path, class: "btn btn-info col-10 col-md-6" %&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
</div>
</fieldset>

<p>Ahora lo mismo, pero modificamos el archivo <span class="path">app/views/clients/_form.html.erb</span>:</p>
<fieldset class="first">
  <legend align="center">
    <strong>partial _form - Clientes</strong>
  </legend>
  <div class="highlight">
    <pre><code class="html hljs">&lt;div class="row justify-content-center"&gt;
  &lt;div class="col-10 col-md-6"&gt;
    <%= form_with(model: client) do |form| %>
      <% if client.errors.any? %>
      &lt;div style="color: red"&gt;
        &lt;h2&gt;
          <%= pluralize(client.errors.count, "error" ) %> prohibited this client from being saved:
        &lt;/h2&gt;
        &lt;ul&gt;
          <% client.errors.each do |error| %>
            &lt;li&gt;
              <%= error.full_message %>
            &lt;/li&gt;
          <% end %>
        &lt;/ul&gt;
      &lt;/div&gt;
      <% end %>
      &lt;div&gt;
        <%= form.label :name, "Nombre" , style: "display: block" %>
        <%= form.text_field :name, class: "form-control" %>
      &lt;/div&gt;
      &lt;div class="mb-3"&gt;
        <%= form.label :age, "Edad" , style: "display: block" %>
        <%= form.text_field :age, class: "form-control" %>
      &lt;/div&gt;
      &lt;div&gt;
          <%= form.submit class: "btn btn-success" %>
      &lt;/div&gt;
    <% end %>
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
  </div>
</fieldset>
<p>Ahora remplazamos el contenido en <span class="path">config/locales/en.yml</span>:</p>
<fieldset class="first">
  <legend align="center">
    <strong>Traducir mensajes</strong>
  </legend>
  <div class="highlight">
    <pre><code class="yml hljs">en:
  activerecord:
    models:
      client: cliente
      movie: "película"
  helpers:
    submit:
      create: "Crear %{model}"
      update: "Actualizar cambios en %{model}"</code></pre>
  <enidev-button></enidev-button>
  </div>
</fieldset>
<p>Y como resultado tenemos la vista de nuevo cliente mejorada:</p>
<figure>
  <img src="assets/clientes-new.png" alt="vista new de clientes" style="box-shadow: 3px 4px 12px #00000018;">
  <figcaption>captura de pantalla: vista de nuevo cliente</figcaption>
</figure>
  <p>Ahora le toca al turno a la vista de editar <span class="path">app/views/clients/edit.html.erb</span>:</p>
  <fieldset class="first">
    <legend align="center"><strong>Edit - Clientes</strong></legend>
    <div class="highlight">
      <pre><code class="hljs html">&lt;h2 align="center"&gt;Editar cliente&lt;/h2&gt;
<%= render "form" , client: @client %>
&lt;br&gt;
&lt;div align="center"&gt;
  <%= link_to "Volver a clientes" , clients_path, class: "btn btn-info col-10 col-md-3" %>
  <%= link_to "Ver cliente" , @client, class: "btn btn-primary col-10 col-md-3 mt-2 mt-md-0" %>
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
    </div>
  </fieldset>
  <p>Y como resultado, tenemos la vista de editar cliente mejorada:</p>
  <figure>
    <img src="assets/clientes-edit.png" alt="vista edit de clientes" style="box-shadow: 3px 4px 12px #00000018;">
    <figcaption>captura de pantalla: vista de editar cliente</figcaption>
  </figure>
  <p>Ahora nos queda hacer una vista mejor para el detalle del cliente, vamos a <span class="path">app/views/clients/show.html.erb</span>:</p>
  <fieldset class="first">
    <legend align="center">
      <strong>Show - Clientes</strong>
    </legend>
    <div class="highlight">
      <pre><code class="html hljs">&lt;p style="color: green"&gt;
  &lt;%= notice %&gt;
&lt;/p&gt;
&lt;div class="card"&gt;
  &lt;div class="card-body"&gt;
    &lt;h5 class="card-title"&gt;Nombre: <%= @client.name %>&lt;/h5&gt;
    &lt;p class="card-text"&gt;Películas arrendadas:&lt;/p&gt;
    &lt;%= select_tag 'movies' , options_for_select(@client.movies.present? ? @client.movies : ["No tiene películas aún"]),
      class: 'form-select' %&gt;
  &lt;/div&gt;
  &lt;div class="card-footer"&gt;
    <%= link_to "Volver a clientes" , clients_path, class: "btn btn-info" %>
    <%= link_to "Editar cliente" , edit_client_path(@client), class: "btn btn-warning" %>
    <%= link_to "Eliminar cliente" , @client, class: "btn btn-danger" , data: {turbo_method: :delete, turbo_confirm: "¿Seguro de eliminar el cliente #{@client.name}?"} %>
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
    </div>
  </fieldset>
  <p>El resultado de lo anterior:</p>
    <figure>
      <img src="assets/clientes-show.png" alt="vista show de clientes" style="box-shadow: 3px 4px 12px #00000018;">
      <figcaption>captura de pantalla: vista del detalle de cliente</figcaption>
    </figure>
  <p>Pasando a las películas, voy a comenzar modificando la vista del detalle <span class="path">app/views/movies/_movie.html.erb</span>:</p>
<fieldset class="first">
<legend align="center">
  <strong>partial _movie - Películas</strong>
</legend>
<div class="highlight">
  <pre><code class="html hljs">&lt;div class="col-4 py-2"&gt;
  &lt;div class="card"&gt;
    &lt;div class="card-body"&gt;
      &lt;h5 class="card-title"&gt;<%= movie.name %>&lt;/h5&gt;
      <% if movie.id.to_s==params[:id] %>
        <% if movie.client.present? %>
          &lt;div&gt;Arrendada por <%= movie.client.name %>&lt;/div&gt;
        <% else %>
          &lt;div class="text-success"&gt;Disponible para arriendo&lt;/div&gt;
        <% end %>
      <% else %>
        <%= link_to "Ver película" , movie, class: "btn btn-primary" %>
      <% end %>
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  <enidev-button></enidev-button>
</div>
</fieldset>
  <p>Y ahora remplazamos el contenido de <span class="path">app/views/movies/show.html.erb</span>:</p>
  <fieldset class="first">
    <legend align="center">
      <strong>Show - Películas</strong>
    </legend>
    <div class="highlight">
      <pre><code class="html hljs">&lt;p style="color: green"&gt;
  <%= notice %>
&lt;/p&gt;
<%= render @movie %>
&lt;div&gt;
  <%= link_to edit_movie_path(@movie), class: "btn btn-warning" do %>
    &lt;i class="fa fa-pen"&gt;&lt;/i&gt;
  <% end %>
  <%= link_to "Volver to películas" , movies_path, class: "btn btn-info" %>
  <%= link_to @movie, class: "btn btn-danger" , data: {turbo_method: :delete, turbo_confirm: "¿Seguro de eliminar la película #{@movie.name}?"} do %>
      &lt;i class="fa fa-times text-light"&gt;&lt;/i&gt;
  <% end %>
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
    </div>
  </fieldset>
  <p>El resultado de lo anterior:</p>
      <figure>
        <img src="assets/peliculas-show.png" alt="vista show de peliculas" style="box-shadow: 3px 4px 12px #00000018;">
        <figcaption>captura de pantalla: vista del detalle de la película</figcaption>
      </figure>
      <p>Ahora hacemos unas modificaciones en la vista index <span class="path">app/views/movies/index.html.erb</span>:</p>
      <fieldset class="first">
        <legend align="center">
          <strong>
            Index - Películas
          </strong>
        </legend>
        <div class="highlight">
          <pre><code class="html hljs">&lt;p style="color: green"&gt;
  <%= notice %>
&lt;/p&gt;
&lt;div class="container"&gt;
  &lt;h2 align="center"&gt;Películas&lt;/h2&gt;
  <%= link_to new_movie_path, class:"text-decoration-none" do %>
    &lt;i class="fa fa-plus-circle fs-4"&gt;&lt;/i&gt;
    &lt;span&gt;Película&lt;/span&gt;
  <% end %>
  &lt;div id="movies"&gt;
    &lt;div class="row"&gt;
      <%= render @movies %>
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
        </div>
      </fieldset>
  <p>El resultado de lo anterior:</p>
        <figure>
          <img src="assets/peliculas-index.png" alt="vista index de peliculas" style="box-shadow: 3px 4px 12px #00000018;">
          <figcaption>captura de pantalla: vista index de películas</figcaption>
        </figure>
<p>Ahora sigo con el partial de <code>_form</code> <span class="path">app/views/movies/_form.html.erb</span>:</p>
<fieldset class="first">
  <legend align="center">
    <strong>partial form - Películas</strong>
  </legend>
  <div class="highlight">
    <pre><code class="html hljs">
&lt;div class="row justify-content-center"&gt;
  &lt;div class="col-10 col-md-6"&gt;
    <%= form_with(model: movie) do |form| %>
      <% if movie.errors.any? %>
        &lt;div style="color: red"&gt;
        &lt;h2&gt;
          <%= pluralize(movie.errors.count, "error" ) %> prohibited this movie from being saved:
        &lt;/h2&gt;
        &lt;ul&gt;
          <% movie.errors.each do |error| %>
            &lt;li&gt;<%= error.full_message %>&lt;/li&gt;
          <% end %>
        &lt;/ul&gt;
      &lt;/div&gt;
      <% end %>
      &lt;div class="mb-3"&gt;
        <%= form.label :name, "Nombre" , style: "display: block" %>
        <%= form.text_field :name, class:"form-control" %>
      &lt;/div&gt;
      &lt;div class="mb-3"&gt;
        <%= form.label :client_id, "Cliente" , style: "display: block" %>
        <%= form.select :client_id, options_for_select(@clients), {include_blank: "Selecciona un cliente"}, {class: "form-select" } %>
      &lt;/div&gt;
      &lt;div&gt;
        <%= form.submit class: "btn btn-success" %>
      &lt;/div&gt;
    <% end %>
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
  </div>
</fieldset>
<p>Ahora remplazamos el contenido en <span class="path">app/views/movies/new.html.erb</span> por el siguiente</p>
<fieldset class="first">
  <legend align="center">
    <strong>New - Películas</strong>
  </legend>
  <div class="highlight">
    <pre><code class="html hljs">&lt;h2 align="center">Nueva película&lt;/h2&gt;
<%= render "form", movie: @movie %>
&lt;br&gt;
&lt;div align="center"&gt;
  <%= link_to "Volver a películas" , movies_path, class: "btn btn-info col-10 col-md-6" %>
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
  </div>
</fieldset>
<p>EL resultado de lo anterior:</p>
      <figure>
        <img src="assets/peliculas-new.png" alt="vista new de peliculas" style="box-shadow: 3px 4px 12px #00000018;">
        <figcaption>captura de pantalla: vista de nueva película</figcaption>
      </figure>
<p>Ahora en la vista editar películas <span class="path">app/views/movies/edit.html.erb</span>:</p>
<fieldset class="first">
  <legend align="center">
    <strong>Edit - Películas</strong>
  </legend>
  <div class="highlight">
    <pre><code class="html hljs">&lt;h2 align="center">Editar película&lt;/h2&gt;
<%= render "form", movie: @movie %>
&lt;br&gt;
&lt;div align="center"&gt;
  <%= link_to "Volver a películas" , movies_path, class: "btn btn-info col-10 col-md-3" %>
  <%= link_to "Ver película" , @movie, class: "btn btn-primary col-10 col-md-3 mt-2 mt-md-0" %>
&lt;/div&gt;</code></pre>
    <enidev-button></enidev-button>
  </div>
</fieldset>
<p>EL resultado de lo anterior:</p>
<figure>
  <img src="assets/edit-pelicula.png" alt="vista edit de peliculas">
  <figcaption>captura de pantalla: vista de editar película</figcaption>
</figure>
<p>Ahora vamos a modificar la barra de navegación, mejor dicho el partial <span class="path">app/views/shared/_navbar.html.erb</span>:</p>
<blockquote>Nota: Antes de pegar, descarga el logo <a href="./assets/logo.png" download>aquí</a> 👈, y pegalo en <span
    class="path">app/assets/images</span></blockquote>
<fieldset class="first">
<legend align="center"><strong>
    partial _navbar - Application</strong>
</legend>
  <div class="highlight">
    <pre><code class="html hljs">&lt;nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow"&gt;
  &lt;div class="container"&gt;
    <%= link_to root_path, class: 'navbar-brand position-absolute mt-5 d-none d-md-block' do %>
      <%= image_tag 'logo' , height: '90px' %>
    <% end %>
    &lt;button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"&gt;
      &lt;span class="navbar-toggler-icon"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="collapse navbar-collapse" id="navbarSupportedContent"&gt;
      &lt;ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold"&gt;
        &lt;li class="nav-item"&gt;
          <%= link_to 'Clientes' , clients_path, class: 'nav-link' %>
        &lt;/li&gt;
        &lt;li class="nav-item"&gt;
          <%= link_to 'Películas' , movies_path, class: 'nav-link' %>
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>
<enidev-button></enidev-button>
  </div>
</fieldset>
<hr>
<h2 id="req-5">Requerimiento 5</h2>
<p class="req">Hacer deploy de la aplicación</p>
<p>Aplicación deplegada <a href="https://rails-m6-blockbuster.fly.dev/" target="_blank">aquí</a> 👈</p>
</div>
  <script type="module" src="./assets/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll()
    document.querySelectorAll("img").forEach(element => {
      element.onclick = () => {
        const h = screen.height;
        const w = screen.width;
        window.open(element.src, 'test', `width=${w},height=${h}`);
      }
    })

    

    const btn_download = document.getElementById("download_btn");
    const download_file = (url) => {
      // DRIVE RESOURCE: https://drive.google.com/uc?export=download&confirm=t&id=1JnboGpZ_PdTf26R1So7o-2dkZYqa7nIa
      fetch(url, { 
        method: "GET",
        mode: "cors"
      })
      .then(response => {
        return response.blob()
      })
      .then(blob => {
        console.log(blob)
        let url = window.URL.createObjectURL(blob);
        let a = document.createElement("a");
        a.style.display = "none";
        a.href = url;
        // a.setAttribute('href', 'data:text/plain;base64,' + blob);
        a.download = "Apoyo_BluckBuster.zip"
        a.click();
        window.URL.revokeObjectURL(url);
        btn_download.textContent = "Material de Apoyo"
      }).catch((e) => alert(e.message))
    }


  </script>
</body>


</html>