<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio evaluado: M6 - 1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/vs2015.min.css">
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <div class="doc-body">
    <h1 align="center">Desafío evaluado: M6 1. BlockBuster</h1><br>
    <h4 align="center"><small>Marco Contreras</small></h4>

    <h2>Requerimiento 1</h2>

    <p>Set-up inicial del proyecto, el proyecto viene con algunos errores que deben ser corregidos</p>
 
      <button id="download_btn" class="download" onclick="{this.textContent='Descargando...'; download_file('../../../../assets/zip/apoyo_desafio_blockbuster.zip')}">Material de apoyo</button>
   <p>Tenemos que fijarnos en la versión que se creo el proyecto el material de apoyo:</p>
  <fieldset class="first">
    <legend align="center"><strong>Levantar el servidor</strong></legend>
    <div class="highlight">
      <pre><code class="bash hljs">rails server</code></pre>
      <enidev-button></enidev-button>
    </div>
  </fieldset>
<blockquote>Podemos observar en la terminal que si tenemos la versión que indica se ejecutará el servidor pero nos pedira instalar las dependencias, de lo contrario nos mostrará un mensaje. <strong>Ejemplo:</strong>
  <br><br>
  <div class="highlight">
    <pre><code class="bash hljs">Your Ruby version is 3.0.3, but your Gemfile specified 3.1.1</code></pre>
  </div>
</blockquote>
<p>Si ese es el caso, debemos cambiar a la versión de Ruby que tenemos en el sistema y luego ejecutamos el comando para instalar las dependencias:</p>
  <figure>
    <img src="assets/gemfile.png" alt="gemfile">
    <figcaption>captura de pantalla: gemfile</figcaption>
  </figure>
  <fieldset class="first">
    <legend align="center"><strong>Instalar dependencias</strong></legend>
    <div class="highlight">
      <pre><code class="bash hljs">bundle install</code></pre>
      <enidev-button></enidev-button>
    </div>
  </fieldset>
  <blockquote>Esto puede tardar varios segundos o minutos</blockquote>
  <p>Bueno ahora repetimos el primer paso, para lanzar el servidor usando el comando: <code style="font-size:17px"><mark>rails server</mark></code> <br>y entramos a  <a href="http://localhost:3000" target="_blank" class="link">http://localhost:3000</a></p>

  <figure>
    <img src="./assets/01.png" alt="lanzando el servidor">
    <figcaption>captura de pantalla: lanzando el servidor</figcaption>
  </figure>
<p>El mensaje es claro, no se pudo establecer conexión con el servidor de Postgres, para solucionarlo debemos agregar nuestros datos de conexión en <span class="path">config/database.yml</span>:</p>
  <fieldset class="first">
    <legend align="center"><strong>Agregar datos de conexión</strong></legend>
    <div class="highlight">
      <pre>
<code class="yml hljs yml_db">default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres # 👈 tu usuario para postgres
  password: postgres # 👈 tu password para postgres
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %></code></pre>
      <enidev-button></enidev-button>
    </div>
  </fieldset>
  <p>Para comprobar que está correcta nuestra conexión con Postgres, ejecutamos el comando para crear la base de datos:</p>
  <fieldset class="first">
    <legend align="center"><strong>Crear la base de datos</strong></legend>
    <div class="highlight">
      <pre><code class="bash hljs">rails db:create</code></pre>
      <enidev-button></enidev-button>
    </div>
    </fieldset>
<p>
  Volvemos a lanzar el servidor, y veremos otro error pero se trata de que aún no se han creado las tablas y existen archivos de migración pendientes por ejecutar. Simplemente presionamos el botón que nos ofrece para correr las migraciones:
</p>
<figure>
  <img src="assets/03.png" alt="migraciones">
  <figcaption>captura de pantalla: correr las migraciones</figcaption>
</figure>

<p>Ya estaría mostrando el proyecto de forma normal y con esto se corrigieron los errores que se mencionaban al comienzo</p>

<figure>
  <img src="assets/04.png" alt="interfaz del proyecto" style="box-shadow: 3px 4px 12px #00000018;">
  <figcaption>captura de pantalla: proyecto funcionando</figcaption>
</figure>
<h2>Requerimiento 2</h2>
<p>Al editar una película se le puede asignar un cliente</p>
<p>Si nos fijamos al momento de haber creado la película ya la estamos asignando a un cliente</p>
<h2>Requerimiento 3</h2>
<p>El index de clientes debe mostrar si un cliente tiene una pelicula arrendada</p>
<p>Para eso nos dirigimos a la vista <span class="path">app/views/clients/_client.html.erb</span> y añadimos lo siguiente:</p>
<fieldset class="first">
  <legend align="center"><strong>
    partial - _client.html.erb
  </strong></legend>
  <div class="highlight">
    <pre>
<code class="erb hljs">&lt;div id="<%= dom_id client %>"&gt;
  &lt;tr&gt;
    &lt;th scope="row"&gt;
      <%= client.id %>
    &lt;/th&gt;
    &lt;td&gt;
      <%= client.name %>
    &lt;/td&gt;
    &lt;td&gt;
      <%= client.age %>
    &lt;/td&gt;
    &lt;td&gt;
    <% if client.movies.present? %>
      <%= select_tag 'movies' , options_for_select(client.movies), class: 'form-select' %>
    <% else %>
      No tiene película arrendada
    <% end %>
    &lt;/td&gt;
    &lt;td align="center"&gt;
      <%= link_to "Ver cliente" , client, class: 'btn btn-info' %>
    &lt;/td&gt;
    &lt;td align="center"&gt;
      <%= link_to edit_client_path(client) do %>
        &lt;i class="fa fa-pen bg-warning rounded p-2 text-dark"&gt;&lt;/i&gt;
      <% end %>
    &lt;/td&gt;
    &lt;td align="center"&gt;
      <%= button_to @client, method: :delete, class: 'border-0 bg-body' do %>
        &lt;i class="fa fa-times bg-danger rounded p-2 text-light"&gt;&lt;/i&gt;
      <% end %>
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/div&gt;</code></pre>
<enidev-button></enidev-button>
  </div>
</fieldset>

  </div>
  <script type="module" src="./assets/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll()

    // const block = document.querySelector(".yml");

    const btn_download = document.getElementById("download_btn");

    const download_file = (url) => {
      // DRIVE RESOURCE: https://drive.google.com/uc?export=download&confirm=t&id=1JnboGpZ_PdTf26R1So7o-2dkZYqa7nIa
      fetch(url, { 
        method: "GET",
        mode: "cors"
      })
      .then(response => {
        return response.blob()
      })
      .then(blob => {
        console.log(blob)
        let url = window.URL.createObjectURL(blob);
        let a = document.createElement("a");
        a.style.display = "none";
        a.href = url;
        // a.setAttribute('href', 'data:text/plain;base64,' + blob);
        a.download = "Apoyo_BluckBuster.zip"
        a.click();
        window.URL.revokeObjectURL(url);
        btn_download.textContent = "Material de Apoyo"
      }).catch((e) => alert(e.message))
    }
  </script>
</body>


</html>